[Unit]
Description=Configure eGPU as primary under Wayland desktops
Before=display-manager.service
After=bolt.service

[Service]
Type=simple
ExecStart=all-ways-egpu boot

[Install]
WantedBy=graphical.target
