[Unit]
Description=Configure eGPU as primary under Wayland desktops
Before=display-manager.service

[Service]
Type=simple
ExecStart=/usr/bin/all-ways-egpu boot

[Install]
WantedBy=graphical.target
