[Desktop Entry]
Name=All-Ways-eGPU
GenericName=Wayland-eGPU-script
Comment=Script for setting eGPU as primary for Wayland desktops
Exec=/usr/bin/all-ways-egpu
Terminal=true
Type=Application
Version=0.30.0
Categories=System;Settings;Utility;
Keywords=system;hardware;

