[Unit]
Description=Cleanup boot_vga eGPU configuration at shutdown
DefaultDependencies=no
Before=halt.target shutdown.target reboot.target

[Service]
Type=oneshot
ExecStart=/usr/bin/all-ways-egpu set-boot-vga internal

[Install]
WantedBy=halt.target shutdown.target reboot.target
