[Unit]
Description=Configure eGPU as primary using compositor variables under Wayland desktops
After=display-manager.service bolt.service

[Service]
Type=oneshot
ExecStart=all-ways-egpu set-compositor-primary egpu

[Install]
WantedBy=graphical.target
