[Unit]
Description=Configure eGPU as primary using boot_vga under Wayland desktops
Before=display-manager.service
After=bolt.service dbus.service

[Service]
Type=oneshot
ExecStart=all-ways-egpu-entry.sh set-boot-vga

[Install]
WantedBy=multi-user.target
