[Unit]
Description=Re-enable iGPU after starting eGPU as primary under Wayland desktops
After=user@1000.service

[Service]
Type=simple
ExecStart=all-ways-egpu switch internal

[Install]
WantedBy=user@1000.service
