[Unit]
Description=Configure iGPU as primary under Wayland desktops
Before=display-manager.service
After=bolt.service dbus.service
OnSuccess=display-manager.service
OnFailure=display-manager.service

[Service]
Type=oneshot
ExecStart=all-ways-egpu-entry.sh boot force-internal

[Install]
WantedBy=multi-user.target
