[Unit]
Description=Configure eGPU as primary using boot_vga under Wayland desktops
After=display-manager.service bolt.service

[Service]
Type=oneshot
ExecStart=all-ways-egpu-entry.sh set-boot-vga egpu

[Install]
WantedBy=graphical.target
