[Unit]
Description=Configure eGPU as primary using compositor variables under Wayland desktops
Before=display-manager.service
After=bolt.service dbus.service

[Service]
Type=oneshot
ExecStart=all-ways-egpu-entry.sh set-compositor-primary

[Install]
WantedBy=multi-user.target
